[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/nt1dc/book-shop-eureka-server

[submodule "book-service"]
	path = book-service
	url = https://github.com/nt1dc/book-shop-book-service
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/nt1dc/book-shop-api-gateway
[submodule "delivery-service"]
	path = delivery-service
	url = https://github.com/nt1dc/book-shop-delivery-service
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/nt1dc/book-shop-payment-service